## Read dataset from Database

In [1]:
from pyspark.sql import SparkSession

Create Session

In [2]:
spark = SparkSession \
    .builder \
    .appName("Test PySpark") \
    .getOrCreate()

In [3]:
spark

copy jar to container

`docker cp driver/postgresql-42.6.0.jar pyspark_container:/usr/local/spark/jars/postgresql-42.6.0.jar`

Init connection to Postgres, kek di Pandas

In [4]:
df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://postgres_source_container:5432/hotel_db") \ # url to database
    .option("dbtable", "payment") \ # table name
    .option("user", "postgres") \ # db user
    .option("password", "cobapassword") \ # db pass
    .option("driver", "org.postgresql.Driver") \ # driver postgres
    .load()

In [6]:
df.show()

+----------+--------------+--------+--------------+--------------+--------------------+--------------------+--------------------+
|payment_id|reservation_id|provider|account_number|payment_status|        payment_date|         expire_date|          created_at|
+----------+--------------+--------+--------------+--------------+--------------------+--------------------+--------------------+
|         1|             1|     Ovo|     038137149|       Success|2020-10-20 17:07:...|2020-10-28 18:10:...|2024-02-09 13:59:...|
|         2|             2|     BCA|     042103729|       Success|2015-02-28 16:44:...|2015-03-08 05:27:...|2024-02-09 13:59:...|
|         3|             3| Permata|     058689635|       Success|2022-04-03 13:27:...|2022-04-06 14:20:...|2024-02-09 13:59:...|
|         4|             4|     BNI|     107161965|       Success|2019-10-04 08:39:...|2019-10-08 02:01:...|2024-02-09 13:59:...|
|         5|             5|     BSI|     014334131|        Failed|                NULL|2020-06-14 12:02:...|2024-02-09 13:59:...|
|         6|             6|     Ovo|     043583173|       Waiting|                NULL|2020-03-25 03:35:...|2024-02-09 13:59:...|
|         7|             7|     BSI|     021381685|       Waiting|                NULL|2017-10-12 03:15:...|2024-02-09 13:59:...|
|         8|             8| Permata|     119636925|       Success|2019-07-06 00:27:...|2019-07-16 05:38:...|2024-02-09 13:59:...|
|         9|             9| Mandiri|     128447299|       Success|2020-10-22 21:58:...|2020-11-07 21:05:...|2024-02-09 13:59:...|
|        10|            10|     BCA|     021032743|        Failed|                NULL|2021-03-23 15:28:...|2024-02-09 13:59:...|
|        11|            11|     BCA|     016173439|       Success|2015-12-30 19:38:...|2016-01-04 23:05:...|2024-02-09 13:59:...|
|        12|            12| Mandiri|     104632264|       Success|2016-04-20 11:00:...|2016-04-29 02:21:...|2024-02-09 13:59:...|
|        13|            13|     BSI|     043534397|        Failed|                NULL|2021-03-09 03:35:...|2024-02-09 13:59:...|
|        14|            14|     BNI|     049889648|       Success|2015-08-30 02:50:...|2015-09-06 15:20:...|2024-02-09 13:59:...|
|        15|            15|     Ovo|     018430413|       Success|2015-08-25 14:16:...|2015-09-11 10:50:...|2024-02-09 13:59:...|
|        16|            16|     BSI|     050658732|       Success|2015-06-20 02:46:...|2015-07-14 03:01:...|2024-02-09 13:59:...|
|        17|            17| Permata|     127295361|       Waiting|                NULL|2017-07-04 16:06:...|2024-02-09 13:59:...|
|        18|            18|     Ovo|     017623865|        Failed|                NULL|2022-02-07 12:28:...|2024-02-09 13:59:...|
|        19|            19| Permata|     045720659|       Success|2020-08-13 21:31:...|2020-08-18 00:19:...|2024-02-09 13:59:...|
|        20|            20|     BRI|     024522616|       Success|2019-04-29 02:30:...|2019-05-04 07:50:...|2024-02-09 13:59:...|
+----------+--------------+--------+--------------+--------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [14]:
df.payment_status

Column<'payment_status'>

In [15]:
filtered_data = df.filter(df["payment_status"] == "Failed")

In [17]:
filtered_data.show()

+----------+--------------+--------+--------------+--------------+------------+--------------------+--------------------+
|payment_id|reservation_id|provider|account_number|payment_status|payment_date|         expire_date|          created_at|
+----------+--------------+--------+--------------+--------------+------------+--------------------+--------------------+
|         5|             5|     BSI|     014334131|        Failed|        NULL|2020-06-14 12:02:...|2024-02-09 13:59:...|
|        10|            10|     BCA|     021032743|        Failed|        NULL|2021-03-23 15:28:...|2024-02-09 13:59:...|
|        13|            13|     BSI|     043534397|        Failed|        NULL|2021-03-09 03:35:...|2024-02-09 13:59:...|
|        18|            18|     Ovo|     017623865|        Failed|        NULL|2022-02-07 12:28:...|2024-02-09 13:59:...|
|        30|            30|     BNI|     077692616|        Failed|        NULL|2022-10-24 00:18:...|2024-02-09 13:59:...|
|        33|            33|     BSI|     011185396|        Failed|        NULL|2019-07-04 21:42:...|2024-02-09 13:59:...|
|        40|            40| Mandiri|     082684305|        Failed|        NULL|2023-12-25 09:52:...|2024-02-09 13:59:...|
|        65|            65|    Dana|     010612190|        Failed|        NULL|2016-03-03 18:51:...|2024-02-09 13:59:...|
|        67|            67| Permata|     105844734|        Failed|        NULL|2022-09-08 18:50:...|2024-02-09 13:59:...|
|        68|            68|     Ovo|     114214960|        Failed|        NULL|2019-10-31 02:42:...|2024-02-09 13:59:...|
|        75|            75|     Ovo|     083806784|        Failed|        NULL|2019-04-19 20:22:...|2024-02-09 13:59:...|
|        78|            78|     BSI|     105022242|        Failed|        NULL|2015-05-27 12:30:...|2024-02-09 13:59:...|
|        84|            84|     BSI|     087382068|        Failed|        NULL|2021-10-21 17:02:...|2024-02-09 13:59:...|
|        85|            85|     BSI|     071827432|        Failed|        NULL|2017-09-21 08:23:...|2024-02-09 13:59:...|
|        89|            89| Permata|     020016087|        Failed|        NULL|2017-06-18 21:27:...|2024-02-09 13:59:...|
|        92|            92|    Dana|     097779292|        Failed|        NULL|2020-05-14 09:29:...|2024-02-09 13:59:...|
|       100|           100|     BRI|     110740894|        Failed|        NULL|2021-01-05 01:47:...|2024-02-09 13:59:...|
|       101|           101|     Ovo|     080919755|        Failed|        NULL|2021-11-17 19:24:...|2024-02-09 13:59:...|
|       106|           106| Mandiri|     021875816|        Failed|        NULL|2017-03-16 08:25:...|2024-02-09 13:59:...|
|       125|           125|     BSI|     018840304|        Failed|        NULL|2020-12-29 16:39:...|2024-02-09 13:59:...|
+----------+--------------+--------+--------------+--------------+------------+--------------------+--------------------+
only showing top 20 rows

from sparkContext to dataframe

In [7]:
df_rdd = spark.sparkContext\
            .parallelize([(1, 2, 3, 'a b c'),
                            (4, 5, 6, 'd e f'),
                            (7, 8, 9, 'g h i')])\
            .toDF(['col_1', 'col_2', 'col_3', 'col_4'])

In [8]:
df_rdd.show()

+-----+-----+-----+-----+
|col_1|col_2|col_3|col_4|
+-----+-----+-----+-----+
|    1|    2|    3|a b c|
|    4|    5|    6|d e f|
|    7|    8|    9|g h i|
+-----+-----+-----+-----+

create dataframe

In [9]:
my_list = [["a", 1, 2], ["b", 2, 3], ["c", 3, 4]]
col_name = ["A", "B", "C"]

In [10]:
spark.createDataFrame(my_list, col_name).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  2|  3|
|  c|  3|  4|
+---+---+---+